:root {
	--black: #0f0f0f;
	--gray: #3f3f3f;
	--light-gray: #9f9f9f;
	--white: #ffffff;
}
* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	background-color: var(--black);
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Lusitana", serif;
	font-style: normal;
}
.main-wrap {
	padding: 5px;
	width: fit-content;
	margin: 50px auto 0;
	border: 3px solid var(--light-gray);
	border-radius: 50px;
}
.nav-wrap {
	position: relative;
	border-radius: 50px;
	background-image: linear-gradient(0deg, var(--black), var(--gray));
}
nav {
	position: relative;
	anchor-name: --nav;
	z-index: 2;
}

.link {
	position: relative;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	border-radius: 50px;
	transition: all 0.3s ease;
	line-height: 1;
	z-index: 2;
	&:before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: transparent;
	}
	&.active {
		color: var(--black);
		anchor-name: --active;
	}
	&:hover:before {
		anchor-name: --nav;
	}
}

.bubble {
	position: absolute;
	top: anchor(top);
	left: anchor(left);
	right: anchor(right);
	bottom: anchor(bottom);
	border-radius: 50px;
	transition: all 0.3s ease;
	background-color: var(--white);

	&.active {
		position-anchor: --active;
		z-index: 1;
	}

	&.hover {
		background-color: var(--gray);
		position-anchor: --nav;
		z-index: 0;
	}
}
