:root {
	--black: #0f0f0f;
	--gray: #3f3f3f;
	--light-gray: #9f9f9f;
	--white: #ffffff;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	height: 100dvh;
	width: 100%;
	background-color: var(--black);
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Lusitana", serif;
	font-style: normal;
}

nav {
	position: relative;
	background-color: var(--gray);
	padding: 5px;
	border: 3px solid var(--light-gray);
	border-radius: 50px;
}

.link {
	position: relative;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	border-radius: 50px;
	transition: all 0.3s ease;
	line-height: 1;
	&.active {
		anchor-name: --active-nav;
	}
	/* &:hover {
		color: var(--black);
		background-color: var(--white);
	} */
}

.bubbles {
	position: absolute;
	position-anchor: --active-nav;
	top: anchor(top);
	left: anchor(left);
	right: anchor(right);
	bottom: anchor(bottom);
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease;
}
